<div class="bg-gray-900 text-green-400 p-4 rounded-lg mb-4 border-2 border-green-800">
    <div class="flex items-center space-x-2">
        <span class="text-green-500">âœ</span>
        <span class="text-sm uppercase tracking-wider">Curl if you dare...</span>
    </div>
    <div class="bg-black p-3 rounded mt-2 flex flex-row items-center justify-center">
        <span style="white-space: nowrap;">
            <span class="text-orange-300 opacity-80">curl </span><span class="text-red-300 opacity-80">https://</span><span class="text-green-300 opacity-80">raspapi.byteatatime.dev</span><span class="text-yellow-300 opacity-80">/start</span>
        </span>
    </div>
    
</div>